In [1]:
# print 0 to 20 by using range

In [2]:
for i in range(0,21):
     print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [3]:
# print range 10 to 20

In [4]:
for i in range(10,20):
    print(i,end=" ")

10 11 12 13 14 15 16 17 18 19

In [5]:
# print number of items in the list by using 'len'

In [7]:
list2 = [10,20,14,55,43,87,76]
print(list2)
print("Number of item in the List2:",len(list2))

[10, 20, 14, 55, 43, 87, 76]
Number of item in the List2: 7

In [10]:
text = "Artificial Intelligence"
print("Artificial Intelligence")
for i in range(len(text)):
    print(text[i])

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [11]:
print("-Your Name-")
print("-Your Age-")
print("-Your Profession-")

-Your Name-
-Your Age-
-Your Profession-

In [12]:
# Refer this link:https://www.geeksforgeeks.org/python-tuples/
# Print this mixered datatype using Tuples

In [13]:
mixed_tuple = (1, 'Welcome', 2, 'mars tech')
print(mixed_tuple)

(1, 'Welcome', 2, 'mars tech')

In [14]:
# Refer this link:https://www.geeksforgeeks.org/python-tuples/
Tuple1=(0,1,2,3)

In [17]:
tuple1 = (0,1,2,3)
tuple2 = ('python','marstech')
nested_tuple = (tuple1, tuple2)
print(nested_tuple)

((0, 1, 2, 3), ('python', 'marstech'))

In [18]:
# print Odd Number in the list

In [19]:
numbers = (20,10,16,19,25,1,276,188)
print(numbers)
for num in numbers:
  if num % 2==1:
      print(f"{num} is odd")

(20, 10, 16, 19, 25, 1, 276, 188)
19 is odd
25 is odd
1 is odd

In [20]:
# print Even numbers in the list

In [21]:
numbers = (20,10,16,19,25,1,276,188)
print(numbers)
for num in numbers:
    if num % 2==0:
        print(f"{num} is even")

(20, 10, 16, 19, 25, 1, 276, 188)
20 is even
10 is even
16 is even
276 is even
188 is even